@page
@model LibrarySystem.Pages.MyLoansModel

<h1>📚 My Loans</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Book</th>
            <th>Borrow Date</th>
            <th>Return Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.LoanSummaries != null && Model.LoanSummaries.Any())
        {
            foreach (var loan in Model.LoanSummaries)
            {
                <tr>
                    <td>@loan.BookTitle</td>
                    <td>@loan.BorrowDateFormatted</td>
                    <td>@loan.ReturnDateFormatted</td>
                    <td>@loan.Status</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">You have no loan history.</td>
            </tr>
        }
    </tbody>
</table>
